.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
/* Blue */
.reset {
  border-color: #2196F3;
  color: dodgerblue
}

.reset:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.submit {
  border-color: #ff9800;
  color: orange;
}

.submit:hover {
  background: #ff9800;
  color: white;
}