@charset "ISO-8859-1";

body {
    background-color: linen;
    background-image:url("./Resources/cropped-seattle-2534686_1920-1.jpg");
    position: absolute;
	top: 0px;
	//left: 25px;
	width: 500px;
	padding:10px;
	height: 50%;
	
}
h1 {
	
    text-align:center;
	color:#1C2683 ;
	top:50%;
	left:50%;
	font-size:100px;
}
h2{
	color: #23AEBD;   
}

h3{
	color:black;
}



img{
	
	width:50px;
	padding-bottom:10px;
	
} 