@CHARSET "ISO-8859-1";

body {
    background-color: linen;
    background-image:url("./Resources/cropped-seattle-2534686_1920-1.jpg");
    position: absolute;
	top: 0px;
	//left: 25px;
	width: 500px;
	padding:10px;
	height: 50%;
}

h1{
	text-align: center;
	color: #1C2683;
	top:50px;
	font-size:100px;
	
	
}


h2{
	color: #2BD4E1;   
} 

h3{
	color:#2BD4E1;
}

.delete-button {
    background-color: #FF0000; /* red */
    color: black;
    width: 100%;
    padding: 8px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.update-button {
    background-color: #00FF00; /* green */
    color: black;
    width: 100%;
    padding: 8px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.select-button {
    background-color: #00FF00;
    color: black;
    width: 100%;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


form{
	
	color:red;
}
